.App {
  text-align: center;
}
.main-con{
  margin-top: 50px;
}
.input-con {
  background-color: rgb(37, 37, 85);
  padding: 50px 10px;
  width: 70%;
  margin: 0 auto;
  color: white;
  max-width: 500px;
  border-radius: 10px;
  
}
button{
  background-color: red;
  padding: 10px;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  font-weight: 500;
  
}
.input-con div{
  display:flex;
  width: 70%;
  align-items: center;
  margin: 20px auto;
  justify-content: space-between;
}
.input-con label{
  font-weight: 500;
  font-size: 16px;
}
.input-con input{
  width: 30%;
  padding: 5px 0;
  text-align: center;
  background-color: white;
  color: black;
  border: none;
}

@media(max-width:557px){
  .input-con {
    width: 90%;
  }
}
